{% extends 'base.html' %}

{% block content %}

<form method="POST" action="/playlists/add">
  {{ form.hidden_tag() }}

  <div class="form-group">
   <label for="name">Name:</label>
    {{ form.name(class="form-control", id="name", required="required") }}
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    {{ form.description(class="form-control", id="description", required="required") }}
  </div>

  <button type="submit" class="btn btn-primary">Create Playlist</button>
</form>

{% endblock %}